* {
  box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

input {
    padding: 0 10px;
}

textarea {
    padding: 10px;
}

body {
  background-color: #FFF;
  margin: 0 auto;
  padding: 0;
}

nav {
    width: 100%;
    height: 64px;
    background-color: #dc3545;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
}

.filters-bar {
  position: relative;
}

.filters {
  width: 669px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price,
.category,
.sort{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.price {
  float: left
}

.category {
    margin: auto;
}

.sort {
  float: right;
}

.account-icons {
    float: left;
}

.list {
    margin: 0 auto;
    width: 973px;
    position: relative;
    top: 93px;
}

.list-card {    
    max-width: 100%;
    height: 314px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 3px

}

.title-bar {
    width: 100%;
    height: 64px;
    background-color: #dc3545;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    display: inline-block;
    padding: 5px 11px;
}

.item-name {
  float: left;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.item-price {
    float: right;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.item-category {
    opacity: 0.9;
    font-size: 18px;
    font-weight: 300;
    font-style: oblique;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: left;
    color: #aba5a5;
    margin-left: 51px;
    margin-bottom: 15px;
}

.item-image {
    width: 278px;
    height: 192px;
    margin-left: 25px;
    float: left;
    display: inline-block;
    background-color: rosybrown;
}

.item-description {
    height: 130px;
    width: 573px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    margin-left: 42px;
}

.item-buttons {
    position: relative;
    left: 42px;
    margin-top: 5px
    
}

.view-in-store,
.edit,
.remove {
    width: 185px;
    height: 48px;
    background-color: #007bff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    font-family: .SFNSText;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    border: none;
    margin-right: 12px;
}

.item-details {
    height: 204px;
}

.user-icons {
    text-align: right;
    width: 100%;
    margin-top: 8px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(216, 216, 216, 0.66);
  position: absolute;
  z-index: 10;
}

.add-modal,
.edit-modal{
	display: none;
}

.add-modal-container,
.edit-modal-container {
	width: 1014px;
	height: 619px;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 46px 100px 0 rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 35px;
	left: 50%;
	transform: translate(-50%, 0);
}

.add-modal-container-titlebar,
.edit-modal-container-titlebar {
	width: 100%;
	height: 64px;
	background-color: #dc3545;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px 0px 0px;
    border-radius: 3px 3px 0px 0px; 
    text-align: center;
	color: white;
	font-size: 36px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.3px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);	
	padding-top: 6px;
    
}


.add-item-form span,
.edit-item-form span {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7;
    text-align: left;
    color: #212529;

}

.add-modal-container input,
.edit-modal-container input {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    background-color: #fbfbfb;
    border: solid 1px #dddddd;
    font-size: 14px;
}



.add-item-form,
.edit-item-form {
    max-width: 964px;
    margin: 0 auto;
    margin-top: 15px;
}

.add-item-form-row,
.edit-item-form-row {
    margin-bottom: 14px;
    margin-top: 14px;
    clear: left;
}

select#category-select {
    -webkit-appearance: button;
    -moz-appearance:none;
    -webkit-border-radius: 3px;
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(../img/category-background.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
    color: #868e96;
    font-size: inherit;
    overflow: hidden;
    padding: 12px 16px;
    padding-right: 50px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 246px;
    height: 48px;
}

.Rectangle {
  width: 246px;
  height: 48px;
  border-radius: 3px;
  background-color: #fbfbfb;
  border: solid 1px #dddddd;
}
.add-item-ranking {
    position: relative;
    left: 112px;
    padding-top: 21px;
    float: left;
}

.add-to-top,
.add-to-bottom {
    width: 159px;
    height: 48px;
    border-radius: 3px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    border: none;
}

.comment-input {
    width: 100%;
    height: 182px;
    resize: none;
    border-radius: 3px;
    background-color: #fbfbfb;
    border: solid 1px #dddddd;
    font-size: 14px;
    
}

button {
    border-radius: 3px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    border: none;
}

.selected,
.bluebtn {
    background-color: #007bff;
}

.deselected, 
.graybtn {
    background-color: #868e96;
}
.add-item-save,
.add-item-cancel,
.edit-item-save,
.edit-item-cancel {
    width: 155px;
    height: 48px;
    margin-right: 39px;
}

.add-modal-container input {
    padding: 0 px;
}

.remove-modal {
    display: none;
}

.remove-modal-container {
    width: 566px;
    height: 154px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 46px 100px 0 rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    position: fixed;
    top: 63px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding: 31px;
}

.remove-buttons {
    margin-top: 21px;
    align-content: justify;
}
.remove-yes,
.remove-no {
    width: 235px;
    height: 48px;
    color: white;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.remove-yes {
    background-color: #007bff;
    margin-right: 21px
}

.remove-no {
    background-color: #dc3545 ;
}

.account-buttons {
    width: 135px;
    height: 67px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    border-radius; 3px;
    float: right;
    position: relative;
    top: 64px;
    margin: 4px;
    padding: 5px;
    text-align: right;
    z-index: 99;
/*    display: none;*/
}

.account-buttons div {
  font-size: 24px;
  font-weight: 900;
  color: #4a4a4a;
}

.price-modal {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    float: left;
    position: fixed;
    padding: 7px;
    z-index: 99;
/*    display: none;*/    
}

.price-modal span {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7;
    text-align: left;
    color: #212529;
}

.price-modal input {
  width: 93px;
  height: 48px;
  border-radius: 3px;
  background-color: #fbfbfb;
  border: solid 1px #dddddd;
}

.price-min {
    float: left;
}

.price-max {
    margin-left: 42px;
    float: left;
}

.category-modal {
    width: 242px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    position: fixed;
    margin: 0 auto;
    padding: 7px;
    z-index: 99;
    display: none;
}

.category label {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.699999988079071px;
    text-align: left;
    color: #212529;
    text-shadow: none;
}

.category ul,
.category li{
    padding: 0px;
    margin: 0px;
    line-height: 10%;
    list-style-type: none;
    
}




.price-modal span {
    text-shadow: none;
}
