<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Wishlister</title>
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,700|Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">  
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')  }}">
    </head>
    <body>
        <nav>
            <div class="filter-bar">
                <div class="filters">
                  <div class="price">Price</div>
                  <div class="category">Category</div>
                  <div class="sort">Sort: Rank</div>
                </div>
                </div>
            <div class="user-icons">
              <img class="add-item" src="../static/img/shape.png" srcset="../static/img/shape@2x.png 2x, img/shape@3x.png 3x">
              <img class="account" src="../static/img/combined-shape.png" srcset="../static/img/combined-shape@2x.png 2x, img/combined-shape@3x.png 3x">
            </div>
        </nav>

<!-- Add Modal -->
		<div class="add-modal">
			<div class="overlay">
				<div class="add-modal-container">
					<div class="add-modal-container-titlebar">
						<span>Add to Wishlist</span>
					</div>
                    <form class="add-item-form" id="addForm">
                        <div class="add-item-form-row">
                            <span>DESCRIPTION</span><br>
                            <input class="description-input" type="text" name="Description">
                        </div>
                        <div class="add-item-form-row">
                            <span>LINK TO ITEM</span><br>
                            <input class="link-input" type="text" name="Link to Item">
                        </div>
                        <div class="add-item-form-row">
                            <div style="float:left">
                                <span>PRICE</span><br>
                                <input class="price-input" type="text" name="Price" style="max-width: 93px; float: left">
                            </div>
                            <div style="position: relative; left: 62px; float: left">
                                <span>CATEGORY</span><br>
                                <select id="category-select">
                                    <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
                                    <option>Select Category</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>
                            </div>
                            <div class="add-item-ranking">
                                <span>RANK</span>
                                <button class="add-to-top rankbtn selected" id="top" type="button">Add to Top</button>
                                <button class="add-to-bottom rankbtn deselected" id="bottom" type="button">Add to Bottom</button>
                            </div>
                        </div>
                        <div class="add-item-form-row">
                            <span>COMMENTS</span>
                            <textarea class="comment-input" type="text" name="Comments"></textarea>
                        </div>
                    </form>
                    <div style="text-align: center">
                        <button class="bluebtn add-item-save">Save</button>
                        <button class="graybtn add-item-cancel">Cancel</button>
                    </div>
				</div>
			</div>	
		</div>

<!-- Edit Modal -->

        <div class="edit-modal" id="-1">
			<div class="overlay">
				<div class="edit-modal-container">
					<div class="edit-modal-container-titlebar">
						<span>Edit</span>
					</div>
                    <form class="edit-item-form" id="editForm">
                        <div class="edit-item-form-row">
                            <span>DESCRIPTION</span><br>
                            <input class="description-input" type="text" name="Description">
                        </div>
                        <div class="edit-item-form-row">
                            <span>LINK TO ITEM</span><br>
                            <input class="link-input" type="text" name="Link to Item">
                        </div>
                        <div class="edit-item-form-row">
                            <div style="float:left">
                                <span>PRICE</span><br>
                                <input class="price-input" type="text" name="Price" style="max-width: 93px; float: left">
                            </div>
                            <div style="position: relative; left: 62px; float: left">
                                <span>CATEGORY</span><br>
                                <select id="category-select">
                                    <!-- This method is nice because it doesn't require extra div tags, but it also doesn't retain the style across all browsers. -->
                                    <option>Select Category</option>
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                </select>
                            </div>
                        </div>
                        <div class="edit-item-form-row">
                            <span>COMMENTS</span>
                            <textarea class="comment-input" type="text" name="Comments"></textarea>
                        </div>
                    </form>
                    <div style="text-align: center">
                        <button class="bluebtn edit-item-save">Save</button>
                        <button class="graybtn edit-item-cancel">Cancel</button>
                    </div>
				</div>
			</div>
		</div>
        
<!-- Remove Modal -->

        <div class="remove-modal">
            <div class="overlay">
                <div class="remove-modal-container">
                    <span> Are you sure you want to remove this item from your wishlist?</span>
                    <div class="remove-buttons">
                        <button class="remove-yes">Yes</button>
                        <button class="remove-no">No</button>
                    </div>
                </div>
            </div>
        </div>
        
      	<div class="list">


        
<!-- Wishlist Card -->
			<div class="list-card" id="0">
                <div class="title-bar">
                    <div class="item-name">Wishlist Item Name</div>
                    <div class="item-price">$$</div>
                </div>
                <div class="item-category">Category</div>
                <div class="item-details">        
                    <div class="item-image">
                        <img src="../static/img/placeholder-item-image.png">
                    </div> 
                    <div class="item-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sollicitudin enim a purus ornare, sit amet porttitor urna maximus. Duis tristique tellus non dui malesuada tristique. Etiam sit amet orci commodo, pulvinar metus eu, tempor tellus. Morbi gravida eros non purus facilisis, eu scelerisque quam tristique. Integer convallis condimentum augue, nec hendrerit neque auctor id. Etiam condimentum suscipit dapibus. Pellentesque dignissim nisi odio, id efficitur diam laoreet quis. Proin ut dolor porttitor dim tempus blandit. Aenean consequat sollicitudin purus, sed gravida ligula iaculis porttitor. Morbi aliquet bibendum nisl eu ornare. Phasellus vestibulum, lectus eu consectetur venenatis, purus enim maximus tortor, vitae ullamcorper leo tortor at quam.
                    </div>
                    <div class="item-buttons">
                        <button class="view-in-store">View in Store</button>
                        <button class="edit">Edit</button>
                        <button class="remove">Remove</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/user_script.js') }}"></script>
    </body>
</html>